<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.calvin.cs262.wingdings.pigeonpoll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.QuestionScreen" />
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.QuestionAnswerScreen" />
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.PassScreen1" />
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.MainActivity" />
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.LastPlayerScreen" />
        <activity android:name="edu.calvin.cs262.wingdings.pigeonpoll.ResultsScreen"></activity>
    </application>

</manifest>